@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/Desktop\/500Vision\/sass\/_grid\.sass}line{font-family:\000031}}
.wrap {
  width: 100%;
  margin: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/Desktop\/500Vision\/sass\/_grid\.sass}line{font-family:\000035}}
.logo {
  width: 100px;
  height: 20px;
  margin: 0.13em 0 0 2em;
  float: left;
  background-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/Desktop\/500Vision\/sass\/_grid\.sass}line{font-family:\0000313}}
.nav {
  width: 100%;
  height: 20px;
  padding: 10px 0;
  background: #222222;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/Desktop\/500Vision\/sass\/_grid\.sass}line{font-family:\0000318}}
.nav ul {
  position: relative;
  float: right;
  font-size: 14px;
  line-height: 19px;
  padding-right: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/Desktop\/500Vision\/sass\/_grid\.sass}line{font-family:\0000324}}
.nav ul li {
  display: inline-block;
  padding: 0 0.6em 0.6em 0.6em;
  margin: 0 1.5em 0 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/Desktop\/500Vision\/sass\/_grid\.sass}line{font-family:\0000329}}
.nav ul li:last-of-type {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/Desktop\/500Vision\/sass\/_grid\.sass}line{font-family:\0000331}}
.nav ul li:hover {
  border-bottom: 3px solid #02adea;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/Desktop\/500Vision\/sass\/_grid\.sass}line{font-family:\0000333}}
.nav ul li a {
  text-decoration: none;
  color: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/Desktop\/500Vision\/sass\/_grid\.sass}line{font-family:\0000336}}
.nav ul li a:active {
  color: #02adea;
}
