@import 'reset'
@import 'grid'
@import 'nav'

html
  font-family: Helvetica

body
  background: #EFEFEF
  // background-colorrgba(50,50,50,1);
  // background:  @include filter-gradient(#323232, #323232, horizontal);
  // background: @include background-image(radial-gradient( center, ellipse cover, rgba(50,50,50,1) 0%, rgba(50,50,50,1) 28%, rgba(34,34,34,1) 100%));

  background: -webkit-radial-gradient(center, ellipse cover, rgba(50,50,50,1) 0%, rgba(50,50,50,1) 28%, rgba(34,34,34,1) 100%)
.artboard
  .photos
    margin: 0 auto
    +breakpoint(xlarge)
      width: 2460px
    +breakpoint(five)
      width: 2050px
    +breakpoint(four)
      width: 1640px
    +breakpoint(three)
      width: 1230px
    +breakpoint(two)
      width: 820px
    +breakpoint(one)
      width: 410px
    .item
      float: left
      width: 400px
      height: 300px
      margin: 5px
      overflow: hidden
      position: relative
      .caption
        display: none
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
      .caption h3, .caption p
        color: #fff
        margin: 20px

